.container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.form {
  border: 1.5px solid var(--tda-clr-primary);
  border-radius: 4px;
  width: 25em;
  height: 20em;
  padding: 0.5em 1em 2em 1em;
  transition: 1s;
}

.form:hover {
  transform: scale(1.07);
}
