<div class="container">
  <div class="form">
    <div class="title">
      <h1>Enter your Todo!</h1>
    </div>
    <div [formGroup]="formGroupTodo" (ngSubmit)="onSubmit()">
      <tda-input [label]="'Name'" formControlName="name" />
      <!-- <tda-input [label]="'Priority'" formControlName="priority" /> -->
      <div formControlName="priority">
        <input type="radio" formControlName="priority" value="Low" />Low
        <input type="radio" formControlName="priority" value="Medium" /> Medium
        <input type="radio" formControlName="priority" value="High" /> High
      </div>
      <tda-input [label]="'Description'" formControlName="description" />
      <button (click)="resetForm()">Reset!</button>
      <button
        [disabled]="formGroupTodo.invalid"
        (click)="onSubmit()"
        type="submit"
      >
        Submit!
      </button>
      <div>{{ this.formGroupTodo.value | json }}</div>

      @for (item of todoStore.todos(); track $index) {
        <div class="todoBox">
          <p>Name: {{ item.name }}</p>
          <p>Priority: {{ item.priority }}</p>
          <p>description: {{ item.description }}</p>
          <button (click)="finishTodo(formGroupTodo.value)">Finish!</button>
          <button>Cancel!</button>
        </div>
      }
    </div>
  </div>
</div>
