.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-form {
    border: 1.5px solid black;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 10px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 4px;
    padding: 1.5em;
    height: 15em;
    width: 25em;
}

.grid--input  {
    display: grid;
    grid-template-rows: 5em 5em;
    grid-template-columns: 12em 12em;
    grid-gap: 0.1em 1em;
}

.test {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.text-invalid {
    color: red;
    font-weight: 20em;
}