.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.analytics__form {
    border: 1.75px solid var(--tda-clr-primary);
    border-radius: 4px;
    width: 20em;
    height: 20em;
    padding-left: 30%;
    padding-top: 25%;
    transition: 1s;
}

.analytics__form:hover {
    transform: scale(1.07);
}
