.container {
    display: flex;
    margin: 1em;
    
}

.analytics__form {
    border: 1px solid black;
    border-radius: 4px;
    width: 20em;
    height: 15em;
    padding: 1em;
    transition: 1s;
}

.analytics__form:hover {
    transform: scale(1.07);
}
